<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://raj12.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5e263260-186f-477a-be17-12604b3125b1/resourceGroups/raj122/providers/Microsoft.Web/sites/raj12</ResourceId>
    <UserName>$raj12</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://raj12.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>